<mat-toolbar color="primary" data-cy="navbar-header">
  @if (isXSmallScreen && user()) {
    <button
      (click)="toggle()"
      class="menu"
      data-cy="nav-button"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
  }
  <a
    class="no-underline"
    mat-button
    matTooltip="Home"
    matTooltipShowDelay="3000"
    routerLink="/home"
  >
    <span data-cy="app-name">Users Role</span>
  </a>
  <span class="spacer"></span>
  <app-github-button matTooltip="GitHub"></app-github-button>
  @if (user()) {
    <app-theme-selector data-cy="theme-selector" matTooltip="Theme Selection">
    </app-theme-selector>
  }
  @if (user(); as currentUser) {
    <app-profile-card
      [user]="currentUser"
      data-cy="profile-icon-button"
      matTooltip="Sign Out"
      matTooltipShowDelay="3000"
    >
    </app-profile-card>
  }
</mat-toolbar>
