mat-toolbar {
  height: 52px;

  span.spacer {
    flex: 1;
  }

  .no-underline {
    text-decoration: none;

    span {
      font-weight: 700;
      font-size: large;
    }
  }
}

.menu {
  margin-left: -10px;
}
