<div class='create-theme-container'>
  <div class='header'>
    <h1 data-cy='title'>Create Custom Theme</h1>
    <div>
      <button (click)='saveLightTheme()' color='primary' data-cy='save-light-theme-button' mat-raised-button>
        <mat-icon>wb_sunny</mat-icon>
        Save Light Theme
      </button>
      <button (click)='saveDarkTheme()' color='primary' data-cy='save-dark-theme-button' mat-raised-button>
        <mat-icon>nightlight_round</mat-icon>
        Save Dark Theme
      </button>
    </div>
  </div>
  <form [formGroup]='themeForm' class='palettes-container' data-cy='palettes-container'>
    <ng-container *ngFor='let palette of palettes'>
      <app-create-palette
        [attr.data-cy]='palette.type+"-palette"'
        [formGroupName]='palette.name'
        [paletteType]='palette.type'
      ></app-create-palette>
    </ng-container>
  </form>
</div>
