# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
firebase.txt

# System files
.DS_Store
Thumbs.db

# Cypress
/cypress/downloads
/cypress/videos

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
/emulators-data

# Environment
/src/environments/environment.ts
/src/environments/environment.development.ts
/src/environments/environment.production.ts
/src/environments/environment.local.ts
