.large-icon-button {
  width: 48px !important;
  height: 48px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
    width: 30px;
    height: 30px;
    font-size: 30px;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 48px !important;
    height: 48px !important;
  }
}
