.large-icon-button {
  width: 48px !important;
  height: 48px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role='img'] {
    width: 32px;
    height: 32px;
    font-size: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 48px !important;
    height: 48px !important;
  }
}
