<div class="sign-up">
  <mat-card>
    <mat-card-title>
      <h1 data-cy="title">Sign Up</h1>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="signUpForm">
        <mat-form-field appearance="outline" data-cy="email-address-field">
          <mat-label>Enter your email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Email Address"
            required
            type="email"
          />
          <mat-error *ngIf="this.signUpForm.get('email')?.invalid">
            {{ getErrorMessage('email') }}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" data-cy="display-name-field">
          <mat-label>Enter your display name</mat-label>
          <input
            formControlName="displayName"
            matInput
            placeholder="Display Name"
            required
            type="text"
          />
          <mat-error *ngIf="this.signUpForm.get('displayName')?.invalid">
            {{ getErrorMessage('displayName') }}
          </mat-error>
        </mat-form-field>
        <ng-container formGroupName="matchingPassword">
          <mat-form-field appearance="outline" data-cy="password-field">
            <mat-label>Enter your password</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              matInput
              placeholder="Password"
              required
            />
            <button
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              data-cy="passwordVisibilityButton"
              mat-icon-button
              matSuffix
              type="button"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                this.signUpForm.get('matchingPassword')?.get('password')
                  ?.invalid
              "
            >
              {{ getPasswordErrorMessage('password') }}
            </mat-error>
          </mat-form-field>
          <mat-form-field
            [subscriptSizing]="
              this.signUpForm.get('matchingPassword')?.invalid &&
              (this.signUpForm.get('matchingPassword')?.get('confirmPassword')
                ?.dirty ||
                this.signUpForm.get('matchingPassword')?.get('confirmPassword')
                  ?.touched)
                ? 'dynamic'
                : 'fixed'
            "
            appearance="outline"
            data-cy="confirm-password-field"
          >
            <mat-label>Enter your confirm password</mat-label>
            <input
              [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword"
              matInput
              placeholder="Confirm Password"
              required
            />
            <button
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              data-cy="confirmPasswordVisibilityButton"
              mat-icon-button
              matSuffix
              type="button"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
                this.signUpForm.get('matchingPassword')?.get('confirmPassword')
                  ?.invalid
              "
            >
              {{ getPasswordErrorMessage('confirmPassword') }}
            </mat-error>
          </mat-form-field>
          <mat-error
            *ngIf="
              this.signUpForm.get('matchingPassword')?.invalid &&
              (this.signUpForm.get('matchingPassword')?.get('confirmPassword')
                ?.dirty ||
                this.signUpForm.get('matchingPassword')?.get('confirmPassword')
                  ?.touched) &&
              getErrorMessage('matchingPassword') !== ''
            "
            class="match-password"
            data-cy="matchingPasswordError"
          >
            {{ getErrorMessage('matchingPassword') }}
          </mat-error>
        </ng-container>
        <button
          (click)="signUp()"
          color="primary"
          data-cy="sign-up-button"
          mat-raised-button
          type="submit"
        >
          Sign Up
        </button>
      </form>
    </mat-card-content>
    <mat-card-actions data-cy="signIn">
      Already have an account?
      <a data-cy="signInLink" routerLink="/sign-in">Sign in</a>
    </mat-card-actions>
  </mat-card>
</div>
