<section class="container">
  <div>
    <button
      (click)="snackbarService.send('primary', message, getOptions())"
      color="primary"
      data-cy="primary-button"
      mat-raised-button
    >
      Primary Snackbar
    </button>
    <button
      (click)="snackbarService.send('accent', message, getOptions())"
      color="accent"
      data-cy="accent-button"
      mat-raised-button
    >
      Accent Snackbar
    </button>
    <button
      (click)="snackbarService.info(message, getOptions(), defaultIcons)"
      color="info"
      data-cy="info-button"
      mat-raised-button
    >
      Info Snackbar
    </button>
    <button
      (click)="snackbarService.error(message, getOptions(), defaultIcons)"
      color="error"
      data-cy="error-button"
      mat-raised-button
    >
      Error Snackbar
    </button>
    <button
      (click)="snackbarService.success(message, getOptions(), defaultIcons)"
      color="success"
      data-cy="success-button"
      mat-raised-button
    >
      Success Snackbar
    </button>
    <button
      (click)="snackbarService.warn(message, getOptions(), defaultIcons)"
      color="warn"
      data-cy="warn-button"
      mat-raised-button
    >
      Warn Snackbar
    </button>
    <button
      (click)="snackbarService.clear()"
      data-cy="close-button"
      mat-raised-button
    >
      Close Snackbar
    </button>
  </div>
  <div>
    <mat-form-field
      appearance="outline"
      data-cy="auto-close-time-field"
      subscriptSizing="dynamic"
    >
      <mat-label>Auto Close Time</mat-label>
      <input
        [(ngModel)]="options.autoCloseTimeout"
        [min]="
          options.autoCloseTimeout && options.autoCloseTimeout > 500 ? 0 : 1
        "
        [step]="500"
        matInput
        type="number"
      />
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      data-cy="horizontal-position-field"
      subscriptSizing="dynamic"
    >
      <mat-label>Horizontal Position</mat-label>
      <mat-select
        [(value)]="options.horizontalPosition"
        data-cy="horizontal-position-select"
      >
        <mat-option
          *ngFor="let position of horizontalPositionList"
          [attr.data-cy]="position + '-horizontal-option'"
          [value]="position"
        >
          {{ position }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      data-cy="vertical-position-field"
      subscriptSizing="dynamic"
    >
      <mat-label>Vertical Position</mat-label>
      <mat-select
        [(value)]="options.verticalPosition"
        data-cy="vertical-position-select"
      >
        <mat-option
          *ngFor="let position of verticalPositionList"
          [attr.data-cy]="position + '-vertical-option'"
          [value]="position"
        >
          {{ position }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      data-cy="variant-field"
      subscriptSizing="dynamic"
    >
      <mat-label>Variant</mat-label>
      <mat-select [formControl]="variant" data-cy="variant-select">
        <mat-select-trigger data-cy="variant-select-value">
          {{ variant.value?.display }}
        </mat-select-trigger>
        <mat-option
          *ngFor="let variant of variantList"
          [attr.data-cy]="variant.value + '-variant-option'"
          [value]="variant"
        >
          {{ variant.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      data-cy="icon-field"
      subscriptSizing="dynamic"
    >
      <mat-label>Icon</mat-label>
      <mat-select [(value)]="options.icon">
        <mat-select-trigger>
          &#x200B;
          <mat-icon>
            {{ options.icon }}
          </mat-icon>
        </mat-select-trigger>
        <mat-option data-cy="none-icon-option">None</mat-option>
        <mat-option
          *ngFor="let icon of iconList"
          [attr.data-cy]="icon.value + '-icon-option'"
          [value]="icon.value"
        >
          <mat-icon>{{ icon.value }}</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      data-cy="button-text-field"
      subscriptSizing="dynamic"
    >
      <mat-label>Button Text</mat-label>
      <input [(ngModel)]="options.buttonText" matInput type="text" />
      <button
        (click)="options.buttonText = undefined"
        [hidden]="!options.buttonText"
        aria-label="Clear"
        data-cy="button-text-clear-button"
        mat-icon-button
        matSuffix
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      data-cy="snackbar-message-field"
      subscriptSizing="dynamic"
    >
      <mat-label>Snackbar Message</mat-label>
      <textarea
        #autosize="cdkTextareaAutosize"
        [(ngModel)]="message"
        cdkAutosizeMaxRows="3"
        cdkTextareaAutosize
        data-cy="snackbar-message-textarea"
        matInput
      ></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox [(ngModel)]="defaultIcons" data-cy="default-icons-checkbox"
      >Default Icons</mat-checkbox
    >
    <mat-checkbox [(ngModel)]="options.autoClose" data-cy="auto-close-checkbox"
      >Auto Close</mat-checkbox
    >
  </div>
</section>
