<div class="snackbar-container" data-cy="snackbar-container">
  <mat-icon *ngIf="data.icon" class="icon" data-cy="icon">{{
    data.icon
  }}</mat-icon>
  <span *ngIf="!data.icon" data-cy="icon"></span>
  <div [innerHTML]="data.message" class="message" data-cy="message"></div>
  <button
    (click)="snackbarRef.dismiss()"
    *ngIf="!data.buttonText"
    class="icon-button"
    data-cy="close-button"
    mat-icon-button
    type="button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <button
    (click)="snackbarRef.dismiss()"
    *ngIf="data.buttonText"
    data-cy="close-button"
    mat-flat-button
  >
    {{ data.buttonText }}
  </button>
</div>
