<div class='snackbar-container' data-cy='snackbarContainer'>
  <mat-icon *ngIf='data.icon' class='icon'>{{ data.icon }}</mat-icon>
  <span *ngIf='!data.icon'></span>
  <div [innerHTML]='data.message' class='message'></div>
  <button
    (click)='snackbarRef.dismiss()'
    *ngIf='!data.buttonText'
    class='icon-button'
    mat-icon-button
    type='button'
  >
    <mat-icon>close</mat-icon>
  </button>
  <button
    (click)='snackbarRef.dismiss()'
    *ngIf='data.buttonText'
    mat-flat-button
  >
    {{ data.buttonText }}
  </button>
</div>
