.snackbar-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  button {
    margin-left: 8px;
  }

  .icon {
    padding-right: 8px;
  }

  .icon-button {
    margin-right: 8px;
  }
}
