<div
  *ngFor='let alert of alerts'
  [@fade]='{ value: fade, params: { fadeTime: fadeTime } }'
  class='{{ cssClass(alert) }}'
>
  <mat-icon *ngIf='alert.icon' class='icon' data-cy='icon'>{{ alert.icon }}</mat-icon>
  <div *ngIf='!alert.icon' data-cy='icon'></div>
  <div [innerHTML]='alert.message' class='message' data-cy='message'></div>
  <button
    (click)='removeAlert(alert)'
    *ngIf='alert.closeButton'
    data-cy='closeButton'
    mat-icon-button
    type='button'
  >
    <mat-icon>close</mat-icon>
  </button>
  <div *ngIf='!alert.closeButton'
       data-cy='closeButton'></div>
</div>
