<section class="container">
    <div>
        <h3>Basic Buttons</h3>
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button color="success">Success</button>
        <button mat-button color="error">Error</button>
        <button mat-button color="info">Info</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button routerLink=".">Link</a>
    </div>

    <div>
        <h3>Raised Buttons</h3>
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button color="success">Success</button>
        <button mat-raised-button color="error">Error</button>
        <button mat-raised-button color="info">Info</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button routerLink=".">Link</a>
    </div>

    <div>
        <h3>Stroked Buttons</h3>
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button color="success">Success</button>
        <button mat-stroked-button color="error">Error</button>
        <button mat-stroked-button color="info">Info</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button routerLink=".">Link</a>
    </div>

    <div>
        <h3>Flat Buttons</h3>
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button color="success">Success</button>
        <button mat-flat-button color="error">Error</button>
        <button mat-flat-button color="info">Info</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button routerLink=".">Link</a>
    </div>

    <div>
        <h3>Icon Buttons</h3>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="primary">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="accent">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="warn">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="success">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="error">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button color="info">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled>
            <mat-icon>favorite</mat-icon>
        </button>
    </div>

    <div>
        <h3>Fab Buttons</h3>
        <button mat-fab>Basic</button>
        <button mat-fab color="primary">Primary</button>
        <button mat-fab color="accent">Accent</button>
        <button mat-fab color="warn">Warn</button>
        <button mat-fab color="success">Success</button>
        <button mat-fab color="error">Error</button>
        <button mat-fab color="info">Info</button>
        <button mat-fab disabled>Disabled</button>
        <a mat-fab routerLink=".">Link</a>
    </div>

    <div>
        <h3>Mini Fab Buttons</h3>
        <button mat-mini-fab>Basic</button>
        <button mat-mini-fab color="primary">Primary</button>
        <button mat-mini-fab color="accent">Accent</button>
        <button mat-mini-fab color="warn">Warn</button>
        <button mat-mini-fab color="success">Success</button>
        <button mat-mini-fab color="error">Error</button>
        <button mat-mini-fab color="info">Info</button>
        <button mat-mini-fab disabled>Disabled</button>
        <a mat-mini-fab routerLink=".">Link</a>
    </div>
</section>