<section class='container'>
  <div>
    <h3 data-cy='basic-buttons-title'>Basic Buttons</h3>
    <button data-cy='basic-buttons-basic' mat-button>Basic</button>
    <button color='primary' data-cy='basic-buttons-primary' mat-button>Primary</button>
    <button color='accent' data-cy='basic-buttons-accent' mat-button>Accent</button>
    <button color='warn' data-cy='basic-buttons-warn' mat-button>Warn</button>
    <button color='success' data-cy='basic-buttons-success' mat-button>Success</button>
    <button color='error' data-cy='basic-buttons-error' mat-button>Error</button>
    <button color='info' data-cy='basic-buttons-info' mat-button>Info</button>
    <button data-cy='basic-buttons-disabled' disabled mat-button>Disabled</button>
    <a data-cy='basic-buttons-link' mat-button routerLink='.'>Link</a>
  </div>

  <div>
    <h3 data-cy='raised-buttons-title'>Raised Buttons</h3>
    <button data-cy='raised-buttons-basic' mat-raised-button>Basic</button>
    <button color='primary' data-cy='raised-buttons-primary' mat-raised-button>Primary</button>
    <button color='accent' data-cy='raised-buttons-accent' mat-raised-button>Accent</button>
    <button color='warn' data-cy='raised-buttons-warn' mat-raised-button>Warn</button>
    <button color='success' data-cy='raised-buttons-success' mat-raised-button>Success</button>
    <button color='error' data-cy='raised-buttons-error' mat-raised-button>Error</button>
    <button color='info' data-cy='raised-buttons-info' mat-raised-button>Info</button>
    <button data-cy='raised-buttons-disabled' disabled mat-raised-button>Disabled</button>
    <a data-cy='raised-buttons-link' mat-raised-button routerLink='.'>Link</a>
  </div>

  <div>
    <h3 data-cy='stroked-buttons-title'>Stroked Buttons</h3>
    <button data-cy='stroked-buttons-basic' mat-stroked-button>Basic</button>
    <button color='primary' data-cy='stroked-buttons-primary' mat-stroked-button>Primary</button>
    <button color='accent' data-cy='stroked-buttons-accent' mat-stroked-button>Accent</button>
    <button color='warn' data-cy='stroked-buttons-warn' mat-stroked-button>Warn</button>
    <button color='success' data-cy='stroked-buttons-success' mat-stroked-button>Success</button>
    <button color='error' data-cy='stroked-buttons-error' mat-stroked-button>Error</button>
    <button color='info' data-cy='stroked-buttons-info' mat-stroked-button>Info</button>
    <button data-cy='stroked-buttons-disabled' disabled mat-stroked-button>Disabled</button>
    <a data-cy='stroked-buttons-link' mat-stroked-button routerLink='.'>Link</a>
  </div>

  <div>
    <h3 data-cy='flat-buttons-title'>Flat Buttons</h3>
    <button data-cy='flat-buttons-basic' mat-flat-button>Basic</button>
    <button color='primary' data-cy='flat-buttons-primary' mat-flat-button>Primary</button>
    <button color='accent' data-cy='flat-buttons-accent' mat-flat-button>Accent</button>
    <button color='warn' data-cy='flat-buttons-warn' mat-flat-button>Warn</button>
    <button color='success' data-cy='flat-buttons-success' mat-flat-button>Success</button>
    <button color='error' data-cy='flat-buttons-error' mat-flat-button>Error</button>
    <button color='info' data-cy='flat-buttons-info' mat-flat-button>Info</button>
    <button data-cy='flat-buttons-disabled' disabled mat-flat-button>Disabled</button>
    <a data-cy='flat-buttons-link' mat-flat-button routerLink='.'>Link</a>
  </div>

  <div>
    <h3 data-cy='icon-buttons-title'>Icon Buttons</h3>
    <button data-cy='icon-buttons-basic' mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button color='primary' data-cy='icon-buttons-primary' mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button color='accent' data-cy='icon-buttons-accent' mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button color='warn' data-cy='icon-buttons-warn' mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button color='success' data-cy='icon-buttons-success' mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button color='error' data-cy='icon-buttons-error' mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button color='info' data-cy='icon-buttons-info' mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button data-cy='icon-buttons-disabled' disabled mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

  <div>
    <h3 data-cy='fab-buttons-title'>Fab Buttons</h3>
    <button data-cy='fab-buttons-basic' mat-fab>Basic</button>
    <button color='primary' data-cy='fab-buttons-primary' mat-fab>Primary</button>
    <button color='accent' data-cy='fab-buttons-accent' mat-fab>Accent</button>
    <button color='warn' data-cy='fab-buttons-warn' mat-fab>Warn</button>
    <button color='success' data-cy='fab-buttons-success' mat-fab>Success</button>
    <button color='error' data-cy='fab-buttons-error' mat-fab>Error</button>
    <button color='info' data-cy='fab-buttons-info' mat-fab>Info</button>
    <button data-cy='fab-buttons-disabled' disabled mat-fab>Disabled</button>
    <a data-cy='fab-buttons-link' mat-fab routerLink='.'>Link</a>
  </div>

  <div>
    <h3 data-cy='mini-fab-buttons-title'>Mini Fab Buttons</h3>
    <button data-cy='mini-fab-buttons-basic' mat-mini-fab>Basic</button>
    <button color='primary' data-cy='mini-fab-buttons-primary' mat-mini-fab>Primary</button>
    <button color='accent' data-cy='mini-fab-buttons-accent' mat-mini-fab>Accent</button>
    <button color='warn' data-cy='mini-fab-buttons-warn' mat-mini-fab>Warn</button>
    <button color='success' data-cy='mini-fab-buttons-success' mat-mini-fab>Success</button>
    <button color='error' data-cy='mini-fab-buttons-error' mat-mini-fab>Error</button>
    <button color='info' data-cy='mini-fab-buttons-info' mat-mini-fab>Info</button>
    <button data-cy='mini-fab-buttons-disabled' disabled mat-mini-fab>Disabled</button>
    <a data-cy='mini-fab-buttons-link' mat-mini-fab routerLink='.'>Link</a>
  </div>
</section>
