@use '@angular/material' as mat;
@use '../all-themes';
@use '../theming';
@use '../palette';

$theme-primary: theming.define-palette(palette.$black-palette, 900);
$theme-accent: theming.define-palette(palette.$white-palette, 600);
$theme-warn: theming.define-palette(mat.$yellow-palette);
$theme-success: theming.define-palette(mat.$green-palette);
$theme-error: theming.define-palette(mat.$red-palette);
$theme-info: theming.define-palette(mat.$blue-palette);
$theme-typography: mat.define-typography-config();
$theme-density: 0;
$theme-light: true;
$theme: theming.define-theme($theme-primary,
  $theme-accent,
  $theme-warn,
  $theme-success,
  $theme-error,
  $theme-info,
  $theme-light,
  $theme-typography,
  $theme-density);
@include all-themes.all-component-themes($theme);
