@use '@angular/material' as mat;
@use '../../app/components/nav-item/nav-item-theme' as nav-item;
@use '../../app/components/profile-card/profile-card-theme' as profile-card;
@use '../../app/components/snackbar/snackbar-theme' as snackbar;

$theme-primary: mat.define-palette(mat.$deep-purple-palette);
$theme-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme((color: (primary: $theme-primary,
                accent: $theme-accent,
                warn: $theme-warn ),
            typography: mat.define-typography-config(),
            density: 0, ));
@include mat.all-component-themes($theme);
// Enables typography to be configured to what is defined in theme
// @include mat.typography-hierarchy($theme);
@include nav-item.theme($theme);
@include profile-card.theme($theme);
@include snackbar.theme($theme);