@use '@angular/material' as mat;

/// Defines a theme with success, error, warn, and info colors.
/// @param {Map} $primary The primary color palette.
/// @param {Map} $accent The accent color palette.
/// @param {Map} $warn The warn color palette.
/// @param {Map} $success The success color palette.
/// @param {Map} $error The error color palette.
/// @param {Map} $info The info color palette.
/// @param {Boolean} $create-light-theme If true a light theme is created, otherwise a dark theme is created
/// @param {Boolean} $typography The typography config
/// @param {Boolean} $density The density config
@function define-theme(
  $primary,
  $accent,
  $warn: mat.$orange-palette,
  $success: mat.$green-palette,
  $error: mat.$red-palette,
  $info: mat.$blue-palette,
  $create-light-theme: true,
  $typography: mat.define-typography-config(),
  $density: 0
) {
  $theme: null;

  @if ($create-light-theme) {
    $theme: mat.define-light-theme(
      (
        color: (
          primary: $primary,
          accent: $accent,
          warn: $error
        ),
        typography: $typography,
        density: $density
      )
    );
  } @else {
    $theme: mat.define-dark-theme(
      (
        color: (
          primary: $primary,
          accent: $accent,
          warn: $error
        ),
        typography: $typography,
        density: $density
      )
    );
  }

  $extra: (
    success: $success,
    error: $error,
    info: $info,
    warn: $warn
  );
  @return map-merge($theme, $extra);
}

@function define-palette(
  $base-palette,
  $default: 500,
  $lighter: 100,
  $darker: 700,
  $extra-light: 50,
  $extra-dark: 900,
  $text: $default
) {
  $new-palette: mat.define-palette(
    $base-palette,
    $default,
    $lighter,
    $darker,
    $text: $default
  );

  $extra-palette: (
    extra-light: map-get($base-palette, $extra-light),
    extra-dark: map-get($base-palette, $extra-dark),
    extra-light-contrast:
      mat.get-contrast-color-from-palette($base-palette, $extra-light),
    extra-dark-contrast:
      mat.get-contrast-color-from-palette($base-palette, $extra-dark)
  );

  @return map-merge($new-palette, $extra-palette);
}
