.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    mat-card {
        margin: 8px;
        min-width: 400px;
        align-self: center;

        mat-card-actions {
            font-size: 14px;
            align-self: center;
            a {
                margin-left: 4px
            }
        }
    }

    button {
        width: 100%;
        margin-top: 16px;
        align-self: center;
    }
}