<div class="sign-in">
    <mat-card>
        <mat-card-title>
            <h1>Sign In</h1>
        </mat-card-title>
        <mat-card-content>
            <app-email-sign-in></app-email-sign-in>
            <button mat-raised-button type="button" (click)="login()">
                <mat-icon svgIcon="logo"></mat-icon>
                Sign in with Google
            </button>
        </mat-card-content>
        <mat-card-actions>
            New User?
            <a href="/sign-up">Sign up</a>
        </mat-card-actions>
    </mat-card>
</div>