@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');
  $warn-palette: map.get($theme, 'warn');
  $error-palette: map.get($theme, 'error');
  $success-palette: map.get($theme, 'success');
  $info-palette: map.get($theme, 'info');

  @include _variant('primary', $primary-palette);
  @include _variant('accent', $accent-palette);
  @include _variant('warn', $warn-palette);
  @include _variant('error', $error-palette);
  @include _variant('success', $success-palette);
  @include _variant('info', $info-palette);
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);

  @if $typography-config != null {
    @include typography($theme);
  }
}

@mixin _variant($type, $palette) {
  $color-default: mat.get-color-from-palette($palette, default);
  $color-lighter: mat.get-color-from-palette($palette, lighter);
  $color-darker: mat.get-color-from-palette($palette, darker);
  $color-extra-light: mat.get-color-from-palette($palette, extra-light);
  $color-extra-dark: mat.get-color-from-palette($palette, extra-dark);

  $color-900: mat.get-color-from-palette($palette, 900);
  $color-800: mat.get-color-from-palette($palette, 800);
  $color-700: mat.get-color-from-palette($palette, 700);
  $color-600: mat.get-color-from-palette($palette, 600);
  $color-500: mat.get-color-from-palette($palette, 500);
  $color-400: mat.get-color-from-palette($palette, 400);
  $color-300: mat.get-color-from-palette($palette, 300);
  $color-200: mat.get-color-from-palette($palette, 200);
  $color-100: mat.get-color-from-palette($palette, 100);
  $color-50: mat.get-color-from-palette($palette, 50);
  $color-A100: mat.get-color-from-palette($palette, A100);
  $color-A200: mat.get-color-from-palette($palette, A200);
  $color-A400: mat.get-color-from-palette($palette, A400);
  $color-A700: mat.get-color-from-palette($palette, A700);

  $color-default-contrast: mat.get-color-from-palette($palette, default-contrast);
  $color-lighter-contrast: mat.get-color-from-palette($palette, lighter-contrast);
  $color-darker-contrast: mat.get-color-from-palette($palette, darker-contrast);
  $color-extra-light-contrast: mat.get-color-from-palette($palette, extra-light-contrast);
  $color-extra-dark-contrast: mat.get-color-from-palette($palette, extra-dark-contrast);

  $color-contrast-900: mat.get-color-from-palette($palette, "900-contrast");
  $color-contrast-800: mat.get-color-from-palette($palette, "800-contrast");
  $color-contrast-700: mat.get-color-from-palette($palette, "700-contrast");
  $color-contrast-600: mat.get-color-from-palette($palette, "600-contrast");
  $color-contrast-500: mat.get-color-from-palette($palette, "500-contrast");
  $color-contrast-400: mat.get-color-from-palette($palette, "400-contrast");
  $color-contrast-300: mat.get-color-from-palette($palette, "300-contrast");
  $color-contrast-200: mat.get-color-from-palette($palette, "200-contrast");
  $color-contrast-100: mat.get-color-from-palette($palette, "100-contrast");
  $color-contrast-50: mat.get-color-from-palette($palette, "50-contrast");
  $color-contrast-A100: mat.get-color-from-palette($palette, A100-contrast);
  $color-contrast-A200: mat.get-color-from-palette($palette, A200-contrast);
  $color-contrast-A400: mat.get-color-from-palette($palette, A400-contrast);
  $color-contrast-A700: mat.get-color-from-palette($palette, A700-contrast);


  .#{$type} {
    .color-default {
      background-color: $color-default;
      color: $color-default-contrast;
    }

    .color-lighter {
      background-color: $color-lighter;
      color: $color-lighter-contrast;
    }

    .color-darker {
      background-color: $color-darker;
      color: $color-darker-contrast;
    }

    .color-extra-light {
      background-color: $color-extra-light;
      color: $color-extra-light-contrast;
    }

    .color-extra-dark {
      background-color: $color-extra-dark;
      color: $color-extra-dark-contrast;
    }

    .color-900 {
      background-color: $color-900;
      color: $color-contrast-900;
    }

    .color-800 {
      background-color: $color-800;
      color: $color-contrast-800;
    }

    .color-700 {
      background-color: $color-700;
      color: $color-contrast-700;
    }

    .color-600 {
      background-color: $color-600;
      color: $color-contrast-600;
    }

    .color-500 {
      background-color: $color-500;
      color: $color-contrast-500;
    }

    .color-400 {
      background-color: $color-400;
      color: $color-contrast-400;
    }

    .color-300 {
      background-color: $color-300;
      color: $color-contrast-300;
    }

    .color-200 {
      background-color: $color-200;
      color: $color-contrast-200;
    }

    .color-100 {
      background-color: $color-100;
      color: $color-contrast-100;
    }

    .color-50 {
      background-color: $color-50;
      color: $color-contrast-50;
    }

    .color-A100 {
      background-color: $color-A100;
      color: $color-contrast-A100;
    }

    .color-A200 {
      background-color: $color-A200;
      color: $color-contrast-A200;
    }

    .color-A400 {
      background-color: $color-A400;
      color: $color-contrast-A400;
    }

    .color-A700 {
      background-color: $color-A700;
      color: $color-contrast-A700;
    }
  }
}
