<div class="shades-container">
  <div class="color color-extra-light" data-cy="extra-light">extra-light</div>
  <div class="color color-lighter" data-cy="lighter">lighter</div>
  <div class="color color-default" data-cy="default">default</div>
  <div class="color color-darker" data-cy="darker">darker</div>
  <div class="color color-extra-dark" data-cy="extra-dark">extra-dark</div>
</div>
<div class="palette-container">
  <div class="color color-900" data-cy="900">900</div>
  <div class="color color-800" data-cy="800">800</div>
  <div class="color color-700" data-cy="700">700</div>
  <div class="color color-600" data-cy="600">600</div>
  <div class="color color-500" data-cy="500">500</div>
  <div class="color color-400" data-cy="400">400</div>
  <div class="color color-300" data-cy="300">300</div>
  <div class="color color-200" data-cy="200">200</div>
  <div class="color color-100" data-cy="100">100</div>
  <div class="color color-50" data-cy="50">50</div>
  <div class="color color-A100" data-cy="A100">A100</div>
  <div class="color color-A200" data-cy="A200">A200</div>
  <div class="color color-A400" data-cy="A400">A400</div>
  <div class="color color-A700" data-cy="A700">A700</div>
</div>
