<mat-toolbar color="primary">
  <span>My App</span>
  <span class="spacer"></span>
  <button class="account-icon" mat-icon-button aria-label="icon button with profile icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav role="navigation" #sidenav mode="side" opened>
    <div class="sideNavContainer">
      <mat-nav-list>
        <ng-template ngFor let-item [ngForOf]="navItems">
          <app-nav-item [navItem]="item" [isExpanded]="isExpanded"></app-nav-item>
        </ng-template>
      </mat-nav-list>
      <button mat-icon-button (click)="toggleSideNav()" class="expand">
        <mat-icon *ngIf="!isExpanded">keyboard_double_arrow_right</mat-icon>
        <mat-icon *ngIf="isExpanded">keyboard_double_arrow_left</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>