mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  mat-nav-list {
    padding: 0;
  }
  a:hover {
    background: red;
  }
  a {
    mat-icon {
      padding: 0;
      margin-right: 0;
    }
  }
}

span {
  border: 1px solid;
}

.spacer {
  flex: 1;
}
