<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="icon-button with menu icon"
    (click)="toggleSideNav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button
    class="account-icon"
    mat-icon-button
    aria-label="icon button with profile icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav
    role="navigation"
    #sidenav
    [ngClass]="isExpanded ? 'sideNavOpen' : 'sideNavClose'"
    mode="side"
    opened
  >
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/home']"
        [routerLinkActive]="['active']"
        role="navigation"
      >
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle *ngIf="isExpanded">Test</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
