<div class='sign-in'>
  <mat-card>
    <mat-card-title>
      <h1 data-cy='title'>Sign In</h1>
    </mat-card-title>
    <mat-card-content>
      <app-email-sign-in data-cy='emailSignIn'></app-email-sign-in>
      <button (click)='login()' data-cy='googleSignInButton' mat-raised-button type='button'>
        <mat-icon svgIcon='logo'></mat-icon>
        Sign in with Google
      </button>
    </mat-card-content>
    <mat-card-actions data-cy='newUser'>
      New User?
      <a data-cy='signUpLink' routerLink='/sign-up'>Sign up</a>
    </mat-card-actions>
  </mat-card>
</div>
