<div class="alert-container">
    <div class="default container">
        <div class="buttons-container">
            <h1>Default</h1>
            <button mat-raised-button color="primary" (click)="alertService.send('primary', 'Primary Message', options)">
                Primary Alert
            </button>
            <button mat-raised-button color="accent" (click)="alertService.send('accent', 'Accent Message', options)">
                Accent Alert
            </button>
            <button mat-raised-button color="info" (click)="alertService.info('Info Message', options, defaultIcons)">
                Info Alert
            </button>
            <button mat-raised-button color="error" (click)="alertService.error('Error Message', options, defaultIcons)">
                Error Alert
            </button>
            <button mat-raised-button color="success"
                (click)="alertService.success('Success Message', options, defaultIcons)">
                Success Alert
            </button>
            <button mat-raised-button color="warn" (click)="alertService.warn('Warn Message', options, defaultIcons)">
                Warn Alert
            </button>
            <button mat-raised-button (click)="alertService.clear()">
                Close Alerts
            </button>
            <span>
                <mat-checkbox [(ngModel)]="options.closeButton">Close Button</mat-checkbox>
            </span>
            <span>
                <mat-checkbox [(ngModel)]="defaultIcons">Default Icons</mat-checkbox>
            </span>
            <span>
                <mat-checkbox [(ngModel)]="fade">Fade</mat-checkbox>
            </span>
            <span>
                <mat-checkbox [(ngModel)]="options.autoClose">Auto Close</mat-checkbox>
            </span>
            <span class="auto-close">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Auto Close Time</mat-label>
                    <input matInput type="number" [step]="500"
                        [min]="(options.autoCloseTimeout && options.autoCloseTimeout > 500) ? 0 : 1"
                        [(ngModel)]="options.autoCloseTimeout">
                </mat-form-field>
            </span>
            <span class="fade-time">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Fade Time</mat-label>
                    <input matInput type="number" [step]="100" [min]="(fadeTime > 100) ? 0 : 1" [(ngModel)]="fadeTime">
                </mat-form-field>
            </span>
            <span class="icon-select">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Icon</mat-label>
                    <mat-select [(value)]="options.icon">
                        <mat-select-trigger>
                            &#x200B;
                            <mat-icon>
                                {{options.icon}}
                            </mat-icon>
                        </mat-select-trigger>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let icon of iconList" [value]="icon.value">
                            <mat-icon>{{icon.value}}</mat-icon>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
            <span class="max-size">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Max Alerts</mat-label>
                    <input matInput type="number" min="1" [(ngModel)]="options.maxSize"
                        (clear)="options.maxSize = undefined">
                    <button mat-icon-button *ngIf="options.maxSize" matSuffix mat-icon-button aria-label="Clear"
                        (click)="options.maxSize=undefined">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </span>
        </div>
        <div class="alerts-container">
            <app-alert [fade]="fade" [fadeTime]="fadeTime"></app-alert>
        </div>
    </div>
    <div class="left container">
        <div class="buttons-container">
            <h1>Left</h1>
            <button mat-raised-button color="primary"
                (click)="alertService.send('primary', 'Primary Message', {id: 'left', icon: 'new_releases'})">
                Primary Alert
            </button>
            <button mat-raised-button color="accent"
                (click)="alertService.send('accent',  'Accent Message',  {id: 'left', icon: 'add_circle'})">
                Accent Alert
            </button>
            <button mat-raised-button color="info" (click)="alertService.info('Info Message', {id: 'left'}, true)">
                Info Alert
            </button>
            <button mat-raised-button color="error" (click)="alertService.error('Error Message', {id: 'left'}, true)">
                Error Alert
            </button>
            <button mat-raised-button color="success"
                (click)="alertService.success('Success Message', {id: 'left'}, true)">
                Success Alert
            </button>
            <button mat-raised-button color="warn" (click)="alertService.warn('Warn Message', {id: 'left'}, true)">
                Warn Alert
            </button>
            <button mat-raised-button (click)="alertService.clear('left')">
                Close Alerts
            </button>
        </div>
        <div class="alerts-container">
            <app-alert id="left" [fade]="false"></app-alert>
        </div>
    </div>
    <div class="right container">
        <div class="buttons-container">
            <h1>Right</h1>
            <button mat-raised-button color="primary"
                (click)="alertService.send('primary', 'Primary Message', {id: 'right', closeButton: false})">
                Primary Alert
            </button>
            <button mat-raised-button color="accent"
                (click)="alertService.send('accent', 'Accent Message', {id: 'right', closeButton: false})">
                Accent Alert
            </button>
            <button mat-raised-button color="info"
                (click)="alertService.info('Info Message', {id: 'right', closeButton: false})">
                Info Alert
            </button>
            <button mat-raised-button color="error"
                (click)="alertService.error('Error Message', {id: 'right', closeButton: false})">
                Error Alert
            </button>
            <button mat-raised-button color="success"
                (click)="alertService.success('Success Message', {id: 'right', closeButton: false})">
                Success Alert
            </button>
            <button mat-raised-button color="warn"
                (click)="alertService.warn('Warn Message', {id: 'right', closeButton: false})">
                Warn Alert
            </button>
            <button mat-raised-button (click)="alertService.clear('right')">
                Close Alerts
            </button>
        </div>
        <div class="alerts-container">
            <app-alert id="right"></app-alert>
        </div>
    </div>
</div>