mat-card-header {
    h5 {
        padding: 0;
        margin: 0;
        font-size: medium;
    }
}

h4 {
    margin-bottom: 8px;
}

.user-group {
    display: grid;
    grid-template-columns: 1fr auto;
}

.me-header {
    margin-top: 0;
}