<mat-sidenav-container autosize data-cy="sidenav-container">
    <mat-sidenav *ngIf="user" role="navigation" #sidenav mode="side" opened data-cy="sidenav-links">
        <div class="sideNavContainer">
            <mat-nav-list data-cy="sidenav-links-list">
                <ng-template ngFor let-item [ngForOf]="navItems">
                    <app-nav-item *ngIf="checkRoles(item.roles)" [navItem]="item" [isExpanded]="isExpanded"></app-nav-item>
                </ng-template>
            </mat-nav-list>
            <button mat-icon-button (click)="toggleSideNav()" class="expand" data-cy="expand-toggle-button">
                <mat-icon *ngIf="!isExpanded">keyboard_double_arrow_right</mat-icon>
                <mat-icon *ngIf="isExpanded">keyboard_double_arrow_left</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content data-cy="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>