.users-grid {
  height: calc(100vh - 52px - 78px);
  padding: 16px;

  .header {
    display: grid;
    grid-template-columns: 1fr auto;

    h1 {
      margin: 0;
    }
  }

  ag-grid-angular {
    margin-top: 8px;
    height: 100%;
  }
}
