@use '@angular/material' as mat;
@use './styles/themes/indigo-pink';
@include mat.core();

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #00cc00;
  --mdc-snackbar-supporting-text-color: #white;
}

.error.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #cc0000;
  --mdc-snackbar-supporting-text-color: white;
}