.palette-container {
  max-width: 240px;
  display: grid;

  .palette-header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 48px;
    padding: 0 8px;

    h3 {
      margin: 0;
      flex: 1;
    }
  }

  .palette-row {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 48px;
    padding: 0 8px;

    .palette-color-text {
      font-size: 12px;
      opacity: .8;
      text-transform: uppercase;
      padding: 0 4px;
    }

    .palette-color-link {
      mat-icon {
        width: 100%;
        height: 100%;
        font-size: 12px;
      }
    }

    .palette-spacer {
      flex: 1;
    }
  }

  .color-selector {
    appearance: none;
    width: 28px;
    height: 28px;
    border-color: #222222;
    cursor: pointer;
    border-radius: 4px;
  }

  .color-selector::-moz-color-swatch {
    border: none;
  }

  .color-selector::-webkit-color-swatch {
    border: none;
  }

  .color-selector::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
  }

}
