<mat-sidenav-container autosize data-cy="sidenav-container">
  <mat-sidenav
    #sidenav
    (openedChange)="openedChanged($event)"
    *ngIf="user"
    [mode]="sideNavMode"
    [opened]="isSideNavOpened"
    data-cy="sidenav-links"
    role="navigation"
  >
    <div class="sideNavContainer">
      <mat-nav-list data-cy="sidenav-links-list">
        <ng-container *ngFor="let item of navItems">
          <app-nav-item
            *ngIf="checkRoles(item.roles)"
            [attr.data-cy]="item.title.toLowerCase() + '-nav-item'"
            [isExpanded]="sideNavMode === 'side' ? isExpanded : true"
            [navItem]="item"
          ></app-nav-item>
        </ng-container>
      </mat-nav-list>
      <button
        (click)="toggleSideNav()"
        *ngIf="sideNavMode === 'side'"
        [matTooltip]="isExpanded ? 'Toggle Collapse' : 'Toggle Expand'"
        class="expand"
        data-cy="expand-toggle-button"
        mat-icon-button
      >
        <mat-icon *ngIf="!isExpanded" data-cy="expand-icon"
          >keyboard_double_arrow_right</mat-icon
        >
        <mat-icon *ngIf="isExpanded" data-cy="collapse-icon"
          >keyboard_double_arrow_left</mat-icon
        >
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content data-cy="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
