.alert-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;

  .container {
    display: flex;
    flex-direction: column;
    height: max(calc(100vh - 52px), 800px);
    width: 100%;
  }

  .one {
    grid-column: 1 / 3;
  }

  .two {
    grid-column: 1 / 3;
  }

  .default {
    grid-column: 1 / 3;
  }

  .buttons-container {
    flex-shrink: 0;

    h1 {
      margin: 4px 0;
    }

    button {
      margin: 4px;
    }

    .default-container {

      .options {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .checkboxes {
          display: inline-grid;
          grid-template-columns: auto auto;
        }

        .form-fields {
          display: inline-flex;
          flex-wrap: wrap;

          span {
            padding-left: 12px;
            padding-top: 4px;
          }

          .auto-close {
            mat-form-field {
              max-width: 127px;
            }
          }

          .fade-time {

            mat-form-field {
              max-width: 95px;
            }
          }

          .icon-select {
            mat-form-field {
              max-width: 95px;
              padding-bottom: 4px;

              mat-select-trigger {
                display: flex;
              }
            }
          }

          .max-size {
            mat-form-field {
              max-width: 120px;
            }
          }

          .variant {
            mat-form-field {
              max-width: 120px;
            }
          }

        }
      }
    }
  }

  .alerts-container {
    overflow-y: auto;
  }

  @media screen and (min-width: 800px) and (min-height: 800px) {
    .container {
      display: flex;
      flex-direction: column;
      height: calc((100vh / 2) - 52px);
      width: 100%;
    }

    .one {
      grid-column: 1 / 2;
    }

    .two {
      grid-column: 2 / 3;
    }

    .default {
      grid-column: 1 / 3;
    }

    .default-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

  }
}